section.page-section.page-workers
  .site-container
    .page-workers__intro-img.js-parallax-anim(style={'background-image': 'url(assets/images/workers.jpg)'})

  .site-content-container.page-workers__content
    h1.page-hero-heading.page-workers__heading
      | Кадровая политика
    .project-detail__grid
      .project-detail__grid-block
        .product-page-intro__content
          p
            | Стеклопластиковый профиль прямоугольной формы.
            | Прямоугольная профильная труба широко применяется
            | в строительстве: при монтаже каркасных изделий,
            | в качестве опор, перекрытий, ограждений, несущих и других элементов конструкций.
          p
            | Используются в строительстве мостов,
            | благоустройстве прибрежных зон,
            | лестничных и обслуживающих платформ и площадок.

      .project-detail__grid-block
        ul.product-advantages
          li.product-advantages__item
            span.product-advantages__legend.product-advantages__legend--big
              | 11+
            span.product-advantages__legend-small
              | лет на российском рынке
          li.product-advantages__item
            span.product-advantages__legend.product-advantages__legend--big
              | 300+
            span.product-advantages__legend-small
              | высококвалифицированных Сотрудников
