main.page-main.main
  +breadcrumbs([['Главная', "/"], ['Продукция', './index.html'], ['Композитные профили']])
  include intro.pug
  include products.pug
  include ../../parts/callback-form-section.pug
