.file-size {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-top: auto;
  color: var(--color-base01);
  font: var(--font-common-b2);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: color var(--transition);

  &--pdf {
    &::before {
      width: 1.6rem;
      height: 1.6rem;
      margin-right: 0.8rem;
      background-image: url("../images/pdf.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      content: "";
    }
  }

  &--doc {
    &::before {
      width: 1.6rem;
      height: 1.6rem;
      margin-right: 0.8rem;
      background-image: url("../images/doc.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      content: "";
    }
  }
}
