section.error-page
  .site-content-container.error-page__container
    img.error-page__image(src="assets/images/error-page/img1.svg" alt="Пожалуйста перейдите на главную или воспользуйтесь навигационным меню")
    h1.error-page__legend-small
      | Страница не найдена
    p.error-page__legend-text
      | Пожалуйста перейдите на главную или воспользуйтесь навигационным меню

    button.button.error-page__button
      | На главную
