section.page-section.project-results
  .site-content-container
    h2.project-results__heading.page-h2-heading
      | Результаты для заказчика

    ul.accordion-list
      each i in Array.from(Array(4).keys())
        li.accordion-list__item
          .accordion.js-accordion
            button.accordion__heading.js-drop-menu-btn
              span.accordion__heading-legend
                | Lorem ipsum dolor sit amet
              span.accordion__heading-icon
            ul.accordion__body.js-drop-menu-container
              .accordion__body-content
                p
                  | Альтернативное объяснение предполагает, что лакколит изменяет гранит. Гетит интенсивно изменяет водоносный этаж, что связано с мощностью вскрыши и полезного ископаемого. Магнитное наклонение варьирует юрский приток.
                p
                  | Литосфера, как теперь известно, грязевой вулкан повсеместно сменяет кряж. Плюмаж, которая в настоящее время находится ниже уровня моря, обогащен. Область развития мерзлых пород высвобождает увалистый бентос:
                ul
                  li Композитные кабеленесущие системы
                  li Композитные кабеленесущие системы
                  li Композитные кабеленесущие системы
                  li Композитные кабеленесущие системы
