section.page-section.project-detail
  .site-content-container
    .project-detail__grid.project-detail__intro
      .project-detail__grid-block
        h1.project-detail__heading.page-h1-heading
          | строительство водоводов систем ппд в Альметьевске
        .project-detail__text.project-detail__text--mobile
          p
            | Вблизи срединно-океанических хребтов фьорд составляет кряж,
            | основными элементами которого являются обширные плосковершинные
            | и пологоволнистые возвышенности. Стеклопластиковый профиль
            | прямоугольной формы.
      .project-detail__grid-block
        ul.project-detail-feautures
          li.project-detail-feautures__item
            span.project-detail-feautures__small-legend
              | Локация
            span.project-detail-feautures__legend
              | Россия, Нижнекамск
          li.project-detail-feautures__item
            span.project-detail-feautures__small-legend
              | Года реализации
            span.project-detail-feautures__legend
              | 2019-2021
          li.project-detail-feautures__item
            span.project-detail-feautures__small-legend
              | Заказчик
            span.project-detail-feautures__legend
              | АО «ТАНЕКО»
        button.button.project-detail__btn.project-detail__btn--mobile
          | Заказать  подобный проект
    .project-detail__grid.project-detail__callback
      .project-detail__grid-block
        .project-detail__text
          p
            | Вблизи срединно-океанических хребтов фьорд составляет кряж,
            | основными элементами которого являются обширные плосковершинные
            | и пологоволнистые возвышенности. Стеклопластиковый профиль
            | прямоугольной формы.
        button.button.project-detail__btn
          | Заказать  подобный проект
      .project-detail__grid-block
        img(class="project-detail__img" src="assets/images/project-detail/img1.jpg" alt="")
    .project-detail__grid.project-detail__content-block
      .project-detail__grid-block
        .product-page-intro__content
          p
            | Стеклопластиковый профиль прямоугольной формы.
            | Прямоугольная профильная труба широко применяется
            | в строительстве: при монтаже каркасных изделий,
            | в качестве опор, перекрытий, ограждений, несущих и других элементов конструкций.
          p
            | Используются в строительстве мостов,
            | благоустройстве прибрежных зон,
            | лестничных и обслуживающих платформ и площадок.

          ul
            li Типы смол – полиэфирная (PE), винилэфирная (VE)
            li Группа горючести по ГОСТ 30244 – Г1-Г3
            li Стойкость к ультрафиолету

      .project-detail__grid-block
        ul.product-advantages
          li.product-advantages__item
            span.product-advantages__legend
              | 150 см
            span.product-advantages__legend-small
              | Ключевой показатель по проекту
          li.product-advantages__item
            span.product-advantages__legend
              | 110 см
            span.product-advantages__legend-small
              | Ключевой показатель по проекту
          li.product-advantages__item
            span.product-advantages__legend
              | 8000 тонн
            span.product-advantages__legend-small
              | Ключевой показатель по проекту
