main.page-main.main
  +breadcrumbs([['Главная', "/"], ['Проекты', './projects.html'], ['строительство водоводов систем ппд в Альметьевске']])
  include intro.pug
  include ../../parts/gallery.pug
  include content.pug
  include more-content.pug
  include ../../parts/callback-form-section.pug
