.catalog-categories {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  gap: var(--grid-offset);

  &__item {
    grid-column: 12 span;
  }

  @include mq(md) {
    grid-template-columns: repeat(12, 1fr);
  }
}
