section.page-section.product-page-intro
  .site-content-container
    .product-page-intro__grid.product-page-intro__hero-block
      .product-page-intro__grid-block
        +picture("product-page/intro-img.png", "Cтеклопластиковые линейные трубы 4rd и 2rd")(class="product-page-intro__hero-block-img")
      .product-page-intro__grid-block
        .product-page-intro__content
          p
            | Используются в строительстве мостов, благоустройстве
            | прибрежных зон, лестничных и обслуживающих платформ
            | и площадок.

    .product-page-intro__heading.product-page-intro__grid
      .product-page-intro__grid-block
        h1.product-page-intro__heading-legend.page-hero-heading
          | Cтеклопластиковые линейные трубы 4rd&nbsp;и&nbsp;2rd
        .product-page-intro__content.product-page-intro__content--hidden
          p
            | Используются в строительстве мостов, благоустройстве
            | прибрежных зон, лестничных и обслуживающих платформ
            | и площадок.
      .product-page-intro__grid-block
        button.button.product-page-intro__button
          | Заказать консультацию

    .product-page-intro__grid.product-page-intro__info
      .product-page-intro__grid-block
        .product-page-intro__content
          p
            | Стеклопластиковый профиль прямоугольной формы.
            | Прямоугольная профильная труба широко применяется
            | в строительстве: при монтаже каркасных изделий,
            | в качестве опор, перекрытий, ограждений, несущих и других элементов конструкций.
          p
            | Используются в строительстве мостов,
            | благоустройстве прибрежных зон,
            | лестничных и обслуживающих платформ и площадок.

          ul
            li Типы смол – полиэфирная (PE), винилэфирная (VE)
            li Группа горючести по ГОСТ 30244 – Г1-Г3
            li Стойкость к ультрафиолету

      .product-page-intro__grid-block
        ul.product-advantages
          li.product-advantages__item
            span.product-advantages__legend
              | Каталог RAL
            span.product-advantages__legend-small
              | Широкий спектр цветовых решений
          li.product-advantages__item
            span.product-advantages__legend
              | от -60° до +85°С
            span.product-advantages__legend-small
              | Температурный диапазон
          li.product-advantages__item
            span.product-advantages__legend
              | 300 см
            span.product-advantages__legend-small
              | Стандартная длина
