main.page-main.main
  +breadcrumbs([['Главная', "/"], ['Продукция', './index.html'], ['Композитные профили', './category-detail.html'], ['Cтеклопластиковые линейные трубы 4rd и 2rd']])
  include intro.pug
  include product-types.pug
  include product-types3.pug
  include product-types2.pug
  include tech-docs.pug
  include ../../parts/gallery.pug
  include ../../parts/callback-form-section.pug
