extends layout/default.pug

block variables
  - const bodyClass = "page-home"
  - const pageTitle = "Пресс-центр"
  - const siteLang = "ru"
  - pageName = "Новости"

block content
  include pages/press-centre-pages/news/main.pug
