extends layout/default.pug

block variables
  - const bodyClass = "page-home"
  - const pageTitle = "Cтеклопластиковые линейные трубы 4rd и 2rd"
  - const siteLang = "ru"
  - callBacSubkHeading = "Отправьте заявку"
  - callBackHeading = "Мы подберем подходящую продукцию"

block content
  include pages/product-page/main.pug
