-
  articels_list = [
    {
      name: "Результаты проведения оценочных расчетов выбросов СО2 с учетом производства труб и СМР при применении стеклопластиковых труб согласно «Программе капитального ремонта водоводов с использованием СП труб» на 2020 год",
      text: "При расчете учитывались потребленные энергоресурсы при производстве труб и расход ГСМ при СМР с учетом требований РЭ 22.21.21-002-30372160-2016 «Трубы стеклопластиковые линейные и фитинги»."
    },
    {
      name: `Полимерные кабеленесущие системы производства ООО "Татнефть-Пресскомпозит"`,
      text: "Полимерные кабельные лотки изготовлены на основе стекловолокна и используются для прокладки кабеля, на которого воздействует агрессивная среда."
    },
    {
      name: "Технология производства изделий из полиэфирных стеклонаполненных термореактивных пресс-материалов SMC и BMC компаундов",
      text: "Изготовление изделий из полиэфирных стеклонаполненных прессматериалов, таких как SMC и BMC компаундов, преимущественно осуществляется методом прямого прессования в стальных обогреваемых формах на гидравлических прессах."
    },
    {
      name: "Перспективное направление",
      text: "За последние десятилетия композиционные материалы заняли важнейшее место в различных отраслях промышленности. Их применение в промышленности обеспечивает качественный скачок в отрасли, что влияет на экономические показатели региона и страны в целом.f"
    }
  ]

section.page-section
  .site-container
    ul.media
      for item, index in articels_list
        li.media__item(class="media__item--big")
          article.article-card
            .article-card__block
              header.article-card__info
                h3.article-card__heading
                  a(href="./media-deatail.html")= item.name
                p.article-card__text= item.text
            .article-card__block
    .page-btn-center
      button.button.button--outline
        | Показать еще
