-
  cat_list = [
    { name: "Композитные профили", list: ["Строительство", "Химическая промышленность", "Горнодобывающая промышленность"] },
    { name: "Композитные трубы", list: ["Нефтегазовая промышленность", "Химическая промышленность", "Горячее водоснабжение и тепловые сети", "Обустройство месторождений"] },
    { name: "SMC/ BMC препреги", list: ["Энергетика", "сырьевое использование", "Автомобилестроение", "Судостроение"] },
    { name: "Композитные кабеленесущие системы", list: ["Энергетика", "Строительство", "Химическая промышленность", "Горнодобывающая промышленность"] },
    { name: "Композитные конструкции", list: ["Градостроительство", "Промышленность", "Благоустройство территорий"] }
  ]

section.page-section
  .site-container
    ul.catalog-categories
      for item, index in cat_list
        li.catalog-categories__item
          +category(item.name, `img${index}`, item.list)
