/* stylelint-disable selector-class-pattern */
.project-detail {
  .site-content-container {
    display: flex;
    flex-direction: column;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: var(--grid-offset);

    &-block {
      &:nth-child(1) {
        grid-column: 17 span;
      }

      &:nth-child(2) {
        grid-column: 7 span;
      }
    }

    @include mq(md) {
      display: block;
    }
  }

  &__heading {
    max-width: 95.4rem;

    @include mq(md) {
      margin-bottom: 1.6rem;
    }
  }

  &__intro {
    margin-bottom: 18.7rem;

    @include mq(md) {
      order: 2;
      margin-bottom: 0;
    }
  }

  &__callback {
    margin-bottom: 14rem;

    @include mq(md) {
      order: 1;
      margin-bottom: 6rem;

      .project-detail__grid-block {
        &:nth-child(1) {
          display: none;
        }
      }
    }

    @include mq(sm) {
      margin-bottom: 4rem;
    }
  }

  &__content-block {
    padding-top: 14rem;
    border-top: 1px solid var(--color-base01-alfa10);

    @include mq(md) {
      display: flex;
      flex-direction: column;
      gap: 0;
      align-items: flex-start;
      order: 3;
      margin-top: 6.4rem;
      padding-top: 0;
      border: none;

      .project-detail__grid-block {
        &:nth-child(1) {
          order: 2;
        }

        &:nth-child(2) {
          order: 1;
          margin-bottom: 6.4rem;
        }
      }
    }
  }

  &__text {
    max-width: 58.5rem;
    margin-bottom: 7.2rem;
    color: var(--color-base01);
    font: var(--font-text-t1-light-ln145);

    @include mq(md) {
      margin-bottom: 4rem;
    }

    &--mobile {
      display: none;

      @include mq(md) {
        display: block;
      }
    }
  }

  &__btn {
    padding-right: 8.6rem;
    padding-left: 8.6rem;

    &--mobile {
      display: none;

      @include mq(md) {
        display: inline-flex;
        margin-top: 4rem;
        padding: 1.7rem 5.6rem;
      }
    }

    @include mq(sm) {
      justify-content: center;
      width: 100%;
      padding: 1.7rem;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 1.6rem;

    @include mq(sm) {
      border-radius: 1.2rem;
    }
  }
}

.project-detail-feautures {
  max-width: 25.3rem;

  &__item {
    margin-bottom: 2.4rem;
    padding-bottom: 2.4rem;
    border-bottom: 1px solid var(--color-base01-alfa10);

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border: none;
    }

    @include mq(md) {
      border: none;
    }

    @include mq(sm) {
      margin-bottom: 2.4rem;
      padding-bottom: 0;
    }
  }

  &__small-legend {
    display: block;
    margin-bottom: 0.8rem;
    color: var(--color-base03);
    font: var(--font-common-label2);
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__legend {
    color: var(--color-base01);
    font: var(--font-text-t2-light-ln145);
    letter-spacing: 0.02em;
  }
}
