section.page-section.safety
  .site-container
    ul.safety__list
      each i in Array.from(Array(9).keys())
        li.safety__item
          .doc-card
            img(class="doc-card__img" src="assets/images/doc-card/img1.jpg" alt="Требования Покупателя в области охраны труда, промышленной безопасности и охраны окружающей среды")
            a.doc-card__heading(href="./" target="_blank")
              | Требования Покупателя в области охраны труда, промышленной безопасности и охраны окружающей среды

            span.doc-card__file.file-size.file-size--pdf
              | pdf, 5mb