section.page-intro.page-intro--margin140
  .site-content-container
    h1.page-intro__heading.page-hero-heading.page-intro__heading--with-text
      | Охрана труда
    p.page-intro__text
      | В соответствии со статьей 15 (часть 6) Федерального закона от 28.12.2013г.
      | № 426-ФЗ «О специальной оценке условий труда» работодатель
      | с учетом требований законодательства РФ о персональных данных
      | и законодательства РФ о государственной и об иной охраняемой
      | законом тайне, организует размещение на своем официальном
      | сайте в информационно-телекоммуникационной сети «Интернет»
      | сводных данных о результатах проведения специальной оценки условий
      | труда в части установления классов (подклассов) условий труда
      | на рабочих местах и перечня мероприятий по улучшению условий
      | труда и охраны труда работников, на рабочих местах которых
      | проводилась специальная оценка условий труда, в срок не позднее
      | чем в течение тридцати календарных дней со дня утверждения
      | отчета о проведении специальной оценки условий труда.
