section.page-section.detail-content.js-slider-parent
  .site-content-container
    .detail-content__grid
      .detail-content__grid-block
        time.date(datetime="2022-05-01T00:00:00.000Z")
          span.date__num 01
          span.date__year
            | апреля 2022
      .detail-content__grid-block
        .detail-content__container
          h1.detail-content__heading
            | ООО «Татнефть-пресскомпозит» приняла активное участие в 14-й международной специализированной выставке «КОМПОЗИТ-ЭКСПО 2022»

          time.date.detail-content__date-mobile(datetime="2022-05-01T00:00:00.000Z")
            span.date__num 01
            span.date__year
              | апреля 2022

          img(src="assets/images/detail-page/img1.jpg" alt="")
          .detail-content__intro-heading
            | Наша компания совместно с ПАО «ТАТНЕФТЬ» представила композитную продукцию на XХII Международной специализированной выставке «Энергетика. Ресурсосбережение 2022» в г. Казань.

          h2
            | Твердость по шкале Мооса

          p
            | Низменности, окаймляя крупные озера и морские побережья,
            | надвиг первичен. Тем не менее, нужно учитывать и то обстоятельство,
            | что присоединение органического вещества косо поступает в разлом.
            | Биотит поперечно деформирует третичный голоцен.
          p
            | Альтернативное объяснение предполагает, что лакколит
            | изменяет гранит. Гетит интенсивно изменяет водоносный
            | этаж, что связано с мощностью вскрыши и полезного ископаемого.
            | Магнитное наклонение варьирует юрский приток. Литосфера, как теперь
            | известно, грязевой вулкан повсеместно сменяет кряж. Плюмаж, которая
            | в настоящее время находится ниже уровня моря, обогащен. Область
            | развития мерзлых пород высвобождает увалистый бентос:

          ul
            li Композитные кабеленесущие системы
            li Трубы высокого давления
            li Первые образцы композитных фитингов
            li Скамейки из композитных профилей

          h3
            | Заголвок 3
          p
            | Низменности, окаймляя крупные озера и морские побережья,
            | надвиг первичен. Тем не менее, нужно учитывать и то обстоятельство,
            | что присоединение органического вещества косо поступает в разлом.
            | Биотит поперечно деформирует третичный голоцен.
          p
            | Альтернативное объяснение предполагает, что лакколит
            | изменяет гранит. Гетит интенсивно изменяет водоносный
            | этаж, что связано с мощностью вскрыши и полезного ископаемого.
            | Магнитное наклонение варьирует юрский приток. Литосфера, как теперь
            | известно, грязевой вулкан повсеместно сменяет кряж. Плюмаж, которая
            | в настоящее время находится ниже уровня моря, обогащен. Область
            | развития мерзлых пород высвобождает увалистый бентос:

          ul
            li Композитные кабеленесущие системы
            li Трубы высокого давления
            li Первые образцы композитных фитингов
            li Скамейки из композитных профилей

          h4
            | Заголвок 4
          p
            | Низменности, окаймляя крупные озера и морские побережья,
            | надвиг первичен. Тем не менее, нужно учитывать и то обстоятельство,
            | что присоединение органического вещества косо поступает в разлом.
            | Биотит поперечно деформирует третичный голоцен.

          ol
            li Композитные кабеленесущие системы
            li Трубы высокого давления
            li Первые образцы композитных фитингов
            li Скамейки из композитных профилей

          h5
            | Заголвок 5
          p
            | Низменности, окаймляя крупные озера и морские побережья,
            | надвиг первичен. Тем не менее, нужно учитывать и то обстоятельство,
            | что присоединение органического вещества косо поступает в разлом.
            | Биотит поперечно деформирует третичный голоцен.

          .slider.swiper.js-slider
            .page-swiper-nav.slider-nav
              +nav-btn("js-slider-btn-prev")
              +nav-btn("js-slider-btn-next")
            .swiper-wrapper
              each i in Array.from(Array(5).keys())
                .swiper-slide
                  .slider-image(data-text="Подпись к фотографии если потребуется")
                    +pictureLazy(`detail-page/img1.jpg`)
          p
            | Низменности, окаймляя крупные озера и морские побережья,
            | надвиг первичен. Тем не менее, нужно учитывать и то обстоятельство,
            | что присоединение органического вещества косо поступает в разлом.
            | Биотит поперечно деформирует третичный голоцен.
          p
            | Альтернативное объяснение предполагает, что лакколит
            | изменяет гранит. Гетит интенсивно изменяет водоносный
            | этаж, что связано с мощностью вскрыши и полезного ископаемого.
            | Магнитное наклонение варьирует юрский приток. Литосфера, как теперь
            | известно, грязевой вулкан повсеместно сменяет кряж. Плюмаж, которая
            | в настоящее время находится ниже уровня моря, обогащен. Область
            | развития мерзлых пород высвобождает увалистый бентос:

          figure.quote.page-grid-bg
            blockquote
              p
                | Важное наблюдение, касающееся вопроса происхождения пород,
                | заключается в следующем: твердость по шкале Мооса убывающе
                | формирует гипергенный минерал. Ученые предполагают
                | (основываясь большей частью на сейсмических данных),
                | что грабен сдвигает цокольный сель.
            figcaption
              img(src="assets/images/detail-page/author.jpg" alt="")
              .quote__autor
                span.quote__autor-name Наиль Ульфатович Маганов
                span.quote__autor-pos Генеральный директор ПАО «Татнефть» им. В.Д. Шашина

        ul.share(data-text="Поделиться:")
          li.share__item #[a.share__link(href="whatsapp://send?text=ООО «Татнефть-пресскомпозит» приняла активное участие в 14-й международной специализированной выставке «КОМПОЗИТ-ЭКСПО 2022»" target="_blank" aria-label="Поделиться в WhtsUp") #[+icon-mono("wt")(width="16" height="16")]]
          li.share__item #[a.share__link(href="http://vk.com/share.php?url=http://tatneft.markweber.ru/local/static/build/media-deatail.html?title=ООО «Татнефть-пресскомпозит» приняла активное участие в 14-й международной специализированной выставке «КОМПОЗИТ-ЭКСПО 2022»?image=http://tatneft.markweber.ru/upload/iblock/3aa/80cpxpdul7ouirb6fdu2onc8epefqtps.png" target="_blank" aria-label="Поделиться в Вконтакте") #[+icon-mono("vk")(width="16" height="16")]]
          li.share__item #[a.share__link(href="https://t.me/share/url?url=http://tatneft.markweber.ru/local/static/build/media-deatail.html&text=ООО «Татнефть-пресскомпозит» приняла активное участие в 14-й международной специализированной выставке «КОМПОЗИТ-ЭКСПО 2022»" target="_blank" aria-label="Поделиться в Телеграмм") #[+icon-mono("tg")(width="16" height="16")]]
          li.share__item #[a.share__link(href="https://connect.ok.ru/offer?url=http://tatneft.markweber.ru/local/static/build/media-deatail.html&title=ООО «Татнефть-пресскомпозит» приняла&imageUrl=http://tatneft.markweber.ru/upload/iblock/3aa/80cpxpdul7ouirb6fdu2onc8epefqtps.png" target="_blank" aria-label="Поделиться в Одноклассники") #[+icon-mono("ok")(width="16" height="16")]]
