main.page-main.main
  +breadcrumbs([['Главная', "./"], ['Новости', './news.html'], ['ООО «Татнефть-пресскомпозит» приняла активное участие в 14-й международной специализированной выставке «КОМПОЗИТ-ЭКСПО 2022»']])
  include content.pug
  include more-content.pug
  include ../../parts/callback-form-section.pug
