section.page-section.about-intro
  .site-container.about-intro__preivew
    .about-intro__media-preview.js-parallax-anim(href="assets/include/vid.mp4" data-fancybox="vids" style={"background-image": "url(assets/images/about/intro-img.jpg)"})
      .about-intro__media-info
        .about-intro__media-info-icon-wrapper
          +icon-mono("play")(width="14" height="9" class="about-intro__media-info-icon")
        .about-intro__media-info-text-container
          span.about-intro__media-info-text
            | производство
          span.about-intro__media-info-time
            | 07:45

  .site-content-container.about-intro__content-info
    h1.page-hero-heading.about-intro__heading
      | О компании
    .about-intro__grid-container
      .about-intro__grid-container-block
        .about-intro__content
          p
            | ООО «Татнефть-Пресскомпозит» входит в группу компаний ПАО «ТАТНЕФТЬ».
            | Компания основана в 2011 году и ведет деятельность по производству
            | композитных материалов на основе стекловолокна,
            | ненасыщенных смол и минеральных наполнителей.
          p
            | Наша компания всецело стремится удовлетворять промышленный
            | спрос на качественные изделия из современных композиционных
            | материалов, предлагая продукт исключительно с повышенными
            | потребительскими свойствами. Постоянно улучшая и развивая
            | производственные процессы, наша деятельность также направлена
            | на способствование снижению воздействия на окружающую среду
            | и достижению целей углеродной нейтральности, созданию
            | и закреплению образа прогрессивной и “зеленой” компании.

      .about-intro__grid-container-block
        .company-chief
          img.company-chief__image(src="assets/images/cheif.jpg" alt="")
          .company-chief__info
            .company-chief__legend
              | Азат Ильдусович Губайдуллин
            .company-chief__legend-small
              | Директор ООО «Татнефть-Пресскомпозит»


  .site-container
    ul.about-feautures
      li.about-feautures__item
        img.about-feautures__item-img(src="assets/images/about-feautures/icon1.svg" alt="")
        .about-feautures__item-heading
          | 2011
        span.about-feautures__item-text
          | Год основания компании ООО «Татнефть-Пресскомпозит»
      li.about-feautures__item
        img.about-feautures__item-img(src="assets/images/about-feautures/icon2.svg" alt="")
        .about-feautures__item-heading
          | 300+
        span.about-feautures__item-text
          | высококвалифици&shy;рованных Сотрудников
      li.about-feautures__item
        img.about-feautures__item-img(src="assets/images/about-feautures/icon3.svg" alt="")
        .about-feautures__item-heading
          | 10+
        span.about-feautures__item-text
          | Патентов — инновационный потенциал компании
      li.about-feautures__item
        img.about-feautures__item-img(src="assets/images/about-feautures/icon4.svg" alt="")
        .about-feautures__item-heading
          | ISO
        span.about-feautures__item-text
          | система менеджмента соответветствует международному стандарту
      li.about-feautures__item.js-parallax-anim(style={"background-image": "url(assets/images/about/mount.jpg)"})
        .about-feautures__item-legend
          | Боремся с изменениями климата
        .about-feautures__item-legend-small
          | Сознательный экологически ответственный бизнес, основанный на целях устойчивого развития
