main.page-main.main
  +breadcrumbs([['Главная', "/"], ['О компании']])
  include intro.pug
  include directions.pug
  include content.pug
  include mission.pug
  include ../../parts/gallery.pug
  include history.pug
  include strategy.pug
  include policy.pug
  include more-pages.pug
  include ../../parts/callback-form-section.pug
