section.page-section.about-mission
  .site-container
    .about-mission__container
      span.about-mission__legend
        | Миссия компании
      p.about-mission__text
        | Мы стремимся повысить конкурентоспособность
        | российской экономики и развитие российского
        | рынка композиционных изделий на основе
        | отечественного сырья и материалов.
