section.page-section
  .site-container
    ul.more-pages
      li.more-pages__item
        .more-pages-card.page-grid-bg
          a.more-pages-card__heading(href="./personnel-policy.html")
            | Кадровая политика
          p.more-pages-card__text
            | Компания управляется сплоченной командой единомышленников
            | и профессионалов. Индивидуальность, способность
            | проявить лидерские качества и взять
            | на себя ответственность за принимаемые решения,
            | открытость к обучению, личный опыт в конкретной
            | области знаний каждого сотрудника кратно приумножаются
            | и дополняются при совместной командной работе.
      li.more-pages__item
        .more-pages-card.page-grid-bg
          a.more-pages-card__heading(href="./safety.html")
            | Охрана труда
          p.more-pages-card__text
            | В соответствии со статьей 15 (часть 6) Федерального закона
            | от 28.12.2013г. № 426-ФЗ «О специальной оценке условий
            | труда» работодатель с учетом требований законодательства РФ
            | о персональных данных и законодательства РФ о государственной
            | и об иной охраняемой законом тайне, организует размещение на
            | своем официальном сайте в информационно-телекоммуникационной
            | сети «Интернет» сводных данных о результатах проведения специальной
