section.main-intro
  .site-content-container.main-intro__container
    .main-intro__bg-mobile
    video(src="" playsinline="true" webkit-playsinline="true" preload="auto" muted="muted" class="main-intro__vid")
    .main-intro__content
      .main-intro__content-block
        span.main-intro__content-legend
          | Высокотехнологичные
        .main-intro__content-heading
          | Композитные
          .main-intro__animation
            | Решения
            .main-intro__animation-container
          | Под&nbsp;любые&nbsp;Запросы

      .main-intro__content-block
        .main-intro__content-info
          span.main-intro__content-first
            | №1
          p.main-intro__content-text
            | По производству качественной продукции. #[span Мы гордимся своим качеством!]

      .main-intro__mobile-btn
        a(href="/")
          | Продукция
        .main-intro__mobile-btn-anim

